body {
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding:0px 20px 20px 20px;
}
.headerBase{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    padding: 5px;
    border: 3px solid black;
}
.mainBase{
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.sideBar{
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.mainContent{
    flex: 1;
    display: flex;
    flex-direction: column
}
.linkWork{
    padding: 20px 0;
}